html,
body {
  height: 100%;
  background-image:url(../img/light_wool.png);
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -75px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 75px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.business-header {
	padding-top:75px;
		min-height:600px;
        height: 600px auto;
		position: relative;
    padding-bottom: 120px;
		
		
        
        background-size: cover;
}
.padder{
	height:100%;
} 
.header{
	width:100%;
	background: rgba(41, 41, 41, 0.8); 
	height:120px;
	position: absolute;
    bottom: 0;
	color:#000;
	
}

.map {
	-webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
	height:600px;
	margin-top:20px;
}

.minecraft{
	background-image:url(http://mc.twit.tv/images/51f17e3db64e6d411600009d_bg_main.png);
}



